{% extends "base.html" %}

{% block content %}
        <h1>Queues</h1>
<!--        # ERCOT        -->
<div>
        <a href="http://mis.ercot.com/misdownload/servlets/mirDownload?mimic_duns=000000000&doclookupId=685583494" > ERCOT IxQ</a>
</div>
        <!--        # CAISO-->
        <a href="https://rimspub.caiso.com/rims5/logon.do#" > CAISO IxQ</a>
<!--MISO-->
        <a href="https://cdn.misoenergy.org/New_And_Withdrawn_GI_Projects110559.xlsx" > MISO IxQ</a>
<!--ISONE-->
        <a href="https://irtt.iso-ne.com/reports/exportpublicqueue" > ISO New England IxQ</a>
<!--SPP-->
        <a href="http://opsportal.spp.org/Studies/GenerateSummaryCSV" > SPP IxQ</a>
<!--PJM-->
<!--        <a href="https://rimspub.caiso.com/rims5/logon.do#" > PJM IxQ</a>-->
<!--NYISO-->
        <a href="https://www.nyiso.com/documents/20142/1407078/NYISO-Interconnection-Queue.xlsx/5fbaa6a0-ff6b-0cfc-fdc6-647089aabb3e?t=1573241978387" > NYISO IxQ</a>
{% endblock %}